 body{
	 font-family:helvetica;
	   width: 100%;
  
  padding: 0px;
 }
 
 
 
 
 /* Remove the navbar's default margin-bottom and rounded borders */ 
  
   .navbar {
    margin: 0;
    border-radius: 0;
	padding:5px;
	text-align:center;
	position: sticky;
	top: 0;
	z-index:2;
	
    }
	nav{
  text-align: center;
}
	nav ul{
  display: inline-block;
}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	
	
  footer a {
     color: #fff;
}

footer a:hover {
     color: lightgray;
}

.col-lg-4{
	background-color:#222;
	padding:10px;
	height:60%;
	border:solid 2px white
}

.welcome h1{
	font-family:helvetica;
	color:darkred;
	font-weight:bold;
	font-size:100px;
}

h2{
	font-family:helvetica;
	color:purple;
	font-weight:bold;
	font-size:60px;
}
.intro{
	background-image: url("https://cdn.openart.ai/stable_diffusion/74d361b82e56086cc22065f19d22a9707a60b96c_2000x2000.webp");
	width: 100%;
	height:400px;
	
}

.textbox{
	font-family:helvetica;
	background-color:#222;
	color:white;
	width: 50%;
	margin:auto;
	margin-top:20px;
	height: 80%;
	padding:40px;
	
}
